.nav-div{
    display: flex;
    justify-content: space-between;
    background-color: bisque;
}

.nav-div > ul{
    list-style-type: none;
    display: flex;

}

.nav-div >ul>li{
    padding: 10px;
    font-size: large;
}

.card-div{
    border: 1px solid black;
    width: 300px;
    padding: 10px;
    margin: 20px;
}

.card-div > img{

     width: 300px;
}
.cards-collection-div{
    display: flex;
    flex-wrap: wrap;
}

.search-input-div{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-input{
    font-size: large;
}
.search-btn{
        font-size: large;
}

.footer-div{
    background-color: rgb(65, 78, 200);
    display: flex;
    justify-content: center;
}